@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MoMo - IoT</h1>
    <p class="lead">Web aplikacija koja prikazuje u real-time očitane podatke sa senzora, te omogućava direktnu komunikaciju sa uređajem</p>    
</div>